/* Estilos da barra de navegação */
.navbar {
    display: flex;
    /* Ativa o layout Flexbox. */
    justify-content: center;
    /* Centraliza os itens horizontalmente. */
    align-items: center;
    /* Alinha os itens verticalmente. */
    backdrop-filter: blur(30px);
    /* Aplica desfoque ao fundo. */
    box-shadow: 0px 0px 30px rgba(4, 10, 3, 0.486);
    /* Adiciona sombra ao redor. */
    border: 2px solid rgba(205, 203, 212, 0.466);
    /* Define borda branca semi-transparente. */
    position: sticky;
    /* Fixa o elemento ao rolar a página. */
    top: 0;
    /* Coloca o elemento no topo. */
    border-radius: 30px;
    /* Arredonda os cantos. */
    height: 60px;
    /* Define altura fixa. */
    margin: 20px auto;
    /* Margem vertical de 20px e centraliza horizontalmente. */
    padding: 0 10px;
    /* Espaço interno de 20px nas laterais. */
    max-width: 800px;
    /* Largura máxima de 800px. */
}

/* Estilos do menu */
.menu {
    display: flex;
    /* Ativa o layout Flexbox. */
    justify-content: space-between;
    /* Distribui espaço entre os itens. */
    align-items: center;
    /* Alinha os itens verticalmente. */
    list-style: none;
    /* Remove marcadores da lista. */
    gap: 70px;
    /* Define espaço de 40px entre os itens do menu. */
}

/* Links do menu */
.menu a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* Define a família de fontes do texto. */
    font-size: 25px;
    /* Define o tamanho da fonte como 25 pixels. */
    color: rgba(255, 255, 255, 0.979);
    /* Define a cor do texto com 70% de opacidade (branco). */
    text-decoration: none;
    /* Remove o sublinhado dos links. */
    transition: color 0.3s;
    /* Aplica uma transição suave de 0.3 segundos para a cor ao passar o mouse. */
    letter-spacing: 2px;
}


/* Cor ao passar o mouse */
.menu a:hover {
    color: #065a30;
    /* Muda a cor do texto ao passar o mouse. */
}

body.sobrepage {
    background-image: url(./fundosobre.png);
    /* Define a imagem de fundo a partir do arquivo especificado. */
}

/* Background da página */
body {
    background-size: cover;
    /* Faz a imagem de fundo cobrir toda a área do elemento. */
    background-attachment: fixed;
    /* Mantém a imagem de fundo fixa durante a rolagem da página. */
    background-position: center;
    /* Centraliza a imagem de fundo no elemento. */
}

/* Formatação do conteúdo das páginas*/
main {
    display: flex;
    padding-top: 5%;
    padding-left: 50%;
    /* Adiciona 40px de espaço acima do texto */
    color: rgba(255, 255, 255, 0.938);
    justify-content: center;
    /* Centraliza horizontalmente os itens do flex */
    align-items: center;
    /* Centraliza verticalmente os itens do flex */
}


section {
    margin: 0;
    /* Remove margens padrão do body */
    display: flex;
    /* Ativa o Flexbox no body */
    justify-content: flex-start;
    /* Alinha conteúdo à direita */
}
    
    
#sobre {
    display: flex;
    /* Ativa o Flexbox na seção */
    flex-direction: column;
    /* Alinha os itens verticalmente */
    align-items: flex-start;
    /* Alinha os itens à direita */
    margin: 50px;
    /* Espaçamento externo da seção */
    letter-spacing: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px; 

}

.box {
    background: rgba(108, 170, 139, 0.747);
    /* Fundo branco com transparência */
    backdrop-filter: blur(10px);
    /* Aplica o efeito blur ao fundo */
    border-radius: 10px;
    /* Arredonda os cantos da caixa */
    padding: 15px;
    /* Espaçamento interno */
    width: 900px;
    /* Largura fixa da caixa */
    height: 450px;
    max-width: 800px;
    max-height: 800px;
    /* Largura máxima da caixa */
    box-shadow: 0 4px 20px rgba(119, 119, 119, 0.842);
    /* Sombra ao redor da caixa */
    border: 2px solid rgba(255, 255, 255, 0.219);
    overflow-y: scroll; /* Ativa rolagem vertical */
}


h1 {
    margin-bottom: 30px;
    /* Espaçamento abaixo do título */
    font-size: 35px;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

footer {

    position: fixed;
    /* Fixa o footer na parte inferior da página */
    bottom: 0;
    /* Posiciona o footer na parte inferior */
    right: 0;
    /* Alinha o footer à direita */
    background-color: none;
    /* Cor de fundo do footer */
    color: #6b6262;
    /* Cor do texto */
    padding: 10px 20px;
    /* Espaçamento interno do footer */
    text-align: right;
    /* Alinha o texto à direita */
    width: 100%;
    /* Define a largura do footer */


}