/* Estilos da barra de navegação */
.navbar {
    display: flex; /* Layout Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
    backdrop-filter: blur(30px); /* Desfoque no fundo */
    box-shadow: 0px 0px 30px rgb(255, 255, 255); /* Sombra */
    border: 2px solid rgba(199, 199, 199, 0.021); /* Borda semi-transparente */
    position: sticky; /* Fixa ao rolar */
    top: 0; /* No topo */
    border-radius: 30px; /* Cantos arredondados */
    height: 60px; /* Altura fixa */
    margin: 20px auto; /* Margem vertical e centralização */
    padding: 0 10px; /* Espaço interno nas laterais */
    max-width: 800px; /* Largura máxima */
}

/* Estilos do menu */
.menu {
    display: flex; /* Layout Flexbox */
    justify-content: space-between; /* Espaço entre itens */
    align-items: center; /* Alinhamento vertical */
    list-style: none; /* Remove marcadores */
    gap: 70px; /* Espaço entre itens */
}

/* Links do menu */
.menu a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Fonte */
    font-size: 25px; /* Tamanho da fonte */
    color: rgb(216, 216, 216); /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    transition: color 0.3s; /* Transição suave de cor */
}

/* Cor ao passar o mouse */
.menu a:hover {
    color: #0d5839; /* Cor ao passar o mouse */
}

body.contatopage {
    background-image: url(./fundocontato.png); /* Imagem de fundo */
    background-size: cover; /* Cobrir área do fundo */
    background-attachment: fixed; /* Fundo fixo */
    background-position: center; /* Fundo centralizado */
}

/* Estilos gerais */
* {
    position: relative;
    box-sizing: border-box; /* Box model */
    font-family: Arial, sans-serif; /* Fonte geral */
    color: white; /* Cor do texto */
}

p, h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Fonte */
    text-align: center; /* Alinhamento central */
    margin-top: 50px; /* Margem superior */
    font-size: 16px; /* Tamanho da fonte */
}

/* Estilos da caixa do formulário */
.box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #395f42a2; /* Cor de fundo verde */
    border: 1px solid #c3e6cb; /* Borda verde */
    box-shadow: 0px 4px 8px rgba(45, 65, 38, 0.925); /* Sombra */
    padding: 20px; /* Espaço interno */
    max-width: 300px; /* Largura máxima */
    width: 300px;
    height: auto;
    margin: 30px auto; /* Margem e centralização */
    border-radius: 5px; /* Cantos arredondados */
    margin-top: 10px;
}

#button, #linktree {
    display: flex;
    align-self: center;
    text-decoration: none;
    margin-top: 15px; /* Margem superior */
    padding: 10px; /* Espaço interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Cantos arredondados */
    background-color: #5a3a77; /* Cor de fundo verde */
    color: rgb(255, 255, 255); /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Mãozinha ao passar o mouse */
    transition: background-color 0.3s; /* Transição de cor */
    
}

#button:hover {
    background-color: #0d3516; /* Cor ao passar o mouse */
}

#linktree:hover {
    background-color: #441b4e; /* Cor ao passar o mouse */
}

footer {
    position: fixed; /* Fixo na tela */
    bottom: 0; /* Alinha no fundo */
    right: 0; /* Alinha à direita */
    color: #6b6262; /* Cor do texto */
    padding: 10px 20px; /* Espaço interno */
    text-align: right; /* Alinhamento à direita */
    width: 100%; /* Largura completa */
}
