
/* Estilos da barra de navegação */
.navbar {
    display: flex;
    /* Ativa o layout Flexbox. */
    justify-content: center;
    /* Centraliza os itens horizontalmente. */
    align-items: center;
    /* Alinha os itens verticalmente. */
    backdrop-filter: blur(30px);
    /* Aplica desfoque ao fundo. */
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgb(158, 152, 152);
    /* Adiciona sombra ao redor. */
    border: 2px solid rgba(29, 27, 27, 0.205);
    /* Define borda branca semi-transparente. */
    position: relative;
    /* Fixa o elemento ao rolar a página. */
    top: 0;
    /* Coloca o elemento no topo. */
    border-radius: 30px;
    /* Arredonda os cantos. */
    height: 60px;
    /* Define altura fixa. */
    margin: 20px auto;
    /* Margem vertical de 20px e centraliza horizontalmente. */
    padding: 0 10px;
    /* Espaço interno de 20px nas laterais. */
    max-width: auto;
    width: 800px;
    overflow: hidden;
}

/* Estilos do menu */
.menu {
    display: flex;
    /* Ativa o layout Flexbox. */
    justify-content: space-between;
    /* Distribui espaço entre os itens. */
    align-items: center;
    /* Alinha os itens verticalmente. */
    list-style: none;
    /* Remove marcadores da lista. */
    left: 0px; /* Alinha à esquerda do .navbar */
    right: 40px; /* Limita a largura máxima ao .navbar */
    position: fixed;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
/* Links do menu */
.menu a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: #d8d8d8;
    text-decoration: none;
    transition: color 0.3s;
}

/* Cor ao passar o mouse */
.menu a:hover {
    color: #0d5839;
}

body.contatopage {
    background: url(./fundocontato.png) center/cover fixed no-repeat;
}

/* Estilos gerais */
* {
    position: relative;
    font-family: Arial, sans-serif;
    color: #fff;
}

p,
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

/* Estilos da caixa do formulário */
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 65, 39, 0.35);
    border: 1px solid #9aa59d60;
    box-shadow: 0 4px 8px rgba(9, 14, 7, 0.225);
    padding: 20px;
    width: 300px;
    max-width: 100%;
    margin: 30px auto 10px;
    border-radius: 5px;
}

/* Estilos do link */
#linktree {
    display: flex;
    align-self: center;
    text-decoration: none;
    padding: 10px;
    background-color: #396bd6;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s ease;
    position: relative;
    overflow: hidden;
}

/* Efeito de luz */
#linktree::before,
#linktree::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
    top: 100%;
    left: 0;
    transition: top 0.4s ease, bottom 0.4s ease;
}

#linktree::after {
    top: auto;
    bottom: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.212));
}

#linktree:hover::before {
    top: 0;
}

#linktree:hover::after {
    bottom: 0;
}

#linktree:hover {
    background-color: #396bd6;
    transform: scale(1.05);
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#email-button,
#whats-button {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#email-button {
    background-color: #5a3a77;
}

#whats-button {
    background-color: #2baa5c;
}

/* Efeito de luz para botões */
#email-button::before,
#email-button::after,
#whats-button::before,
#whats-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(88, 97, 97, 0.3));
    top: 100%;
    left: 0;
    transition: top 0.4s ease, bottom 0.4s ease;
}

#email-button::after,
#whats-button::after {
    top: auto;
    bottom: 100%;
    background: linear-gradient(to bottom, rgba(5, 5, 5, 0), rgba(255, 255, 255, 0.3));
}

#email-button:hover::before,
#whats-button:hover::before {
    top: 0;
}

#email-button:hover::after,
#whats-button:hover::after {
    bottom: 0;
}

/* Efeito de transformação e mudança de cor ao passar o mouse */
#email-button:hover {
    background-color: #4a2a67;
    transform: scale(1.05);
}

#whats-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.emoji {
    font-size: 30px; /* Aumenta o tamanho do emoji */
}

/* Estilos do rodapé */
footer {
    position: fixed; /* Fixa no fim da página */
    bottom: 0; /* Alinha ao fundo */
    right: 0; /* Alinha à direita */
    background-color: none; /* Fundo transparente */
    color: #ffffff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: right; /* Texto alinhado à direita */
    width: 100%; /* Largura total */
}