/* Estilos da barra de navegação */
.navbar {
    display: flex;
    /* Ativa o layout Flexbox. */
    justify-content: center;
    /* Centraliza os itens horizontalmente. */
    align-items: center;
    /* Alinha os itens verticalmente. */
    backdrop-filter: blur(30px);
    /* Aplica desfoque ao fundo. */
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgb(158, 152, 152);
    /* Adiciona sombra ao redor. */
    border: 2px solid rgba(29, 27, 27, 0.205);
    /* Define borda branca semi-transparente. */
    position: relative;
    /* Fixa o elemento ao rolar a página. */
    top: 0;
    /* Coloca o elemento no topo. */
    border-radius: 30px;
    /* Arredonda os cantos. */
    height: 60px;
    /* Define altura fixa. */
    margin: 20px auto;
    /* Margem vertical de 20px e centraliza horizontalmente. */
    padding: 0 10px;
    /* Espaço interno de 20px nas laterais. */
    max-width: auto;
    width: 800px;
    overflow: hidden;
}

/* Estilos do menu */
.menu {
    display: flex;
    /* Ativa o layout Flexbox. */
    justify-content: space-between;
    /* Distribui espaço entre os itens. */
    align-items: center;
    /* Alinha os itens verticalmente. */
    list-style: none;
    /* Remove marcadores da lista. */
    left: 0px;
    /* Alinha à esquerda do .navbar */
    right: 40px;
    /* Limita a largura máxima ao .navbar */
    position: fixed;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

/* Links do menu */
.menu a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: #d8d8d8;
    text-decoration: none;
    transition: color 0.3s;
}

/* Cor ao passar o mouse */
.menu a:hover {
    color: #0d5839;
}

body.contatopage {
    background: url(./fundocontato.png) center/cover fixed no-repeat;
}

/* Estilos gerais */
* {
    position: relative;
    color: #fff;
}

#titulo {
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 20px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
}


/* Estilos da caixa do formulário */
.box {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(58, 57, 57, 0.514);
    border: 1px solid #cecece81;
    box-shadow: 0 4px 8px rgba(109, 110, 108, 0.438);
    padding: 20px;
    width: 300px;
    max-width: 100%;
    margin: 30px auto 10px;
    border-radius: 5px;
}

/* Estilos gerais dos links */
#linktree,
#whats-button,
#email-button,
#github {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    /* Ajusta o tamanho dos ícones */
    height: 100px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    overflow: hidden;
}

/* Efeito de luz para ícones */
#email-button::before,
#email-button::after,
#whats-button::before,
#whats-button::after,
 {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(88, 97, 97, 0.082));
    top: 100%;
    left: 0;
    transition: top 0.4s ease, bottom 0.4s ease;
}

#github::after,
#email-button::after,
#whats-button::after,
#linktree::after {
    top: auto;
    bottom: 100%;
    background: linear-gradient(to bottom, rgba(5, 5, 5, 0), rgba(255, 255, 255, 0.082));
}

/* Efeito de luz nos ícones */
#github::before,
#email-button:hover::before,
#whats-button:hover::before,
#linktree:hover::before {
    top: 0;
}

#github:hover::after,
#email-button:hover::after,
#whats-button:hover::after,
#linktree:hover::after {
    bottom: 0;
}

/* Efeito de transformação e mudança de cor ao passar o mouse */
#github:hover {
    background-color: #050505;
    transform: scale(1.05);
}

#email-button:hover {
    background-color: #331e47;
    transform: scale(1.05);
}

#whats-button:hover {
    background-color: #175023;
    transform: scale(1.05);
}

#linktree:hover {
    background-color: #396bd6;
    transform: scale(1.05);
}

/* Ajuste no tamanho dos ícones */
#email-button img,
#whats-button img,
#github img,
#linktree img {
    width: 30px;
    /* Ajuste o tamanho conforme necessário */
    height: auto;
}


.emoji {
    font-size: 30px;
    /* Aumenta o tamanho do emoji */
}

footer {

    position: fixed;
    /* Fixa o footer na parte inferior da página */
    bottom: 0;
    /* Posiciona o footer na parte inferior */
    right: 0;
    /* Alinha o footer à direita */
    background-color: none;
    /* Cor de fundo do footer */
    color: #a19898c5;
    /* Cor do texto */
    padding: 10px 20px;
    /* Espaçamento interno do footer */
    text-align: right;
    /* Alinha o texto à direita */
    width: 100%;
    /* Define a largura do footer */


}