/* Estilos da barra de navegação */
.navbar {
    display: flex;
    /* Ativa o layout Flexbox. */
    justify-content: center;
    /* Centraliza os itens horizontalmente. */
    align-items: center;
    /* Alinha os itens verticalmente. */
    backdrop-filter: blur(30px);
    /* Aplica desfoque ao fundo. */
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgb(158, 152, 152);
    /* Adiciona sombra ao redor. */
    border: 2px solid rgba(29, 27, 27, 0.205);
    /* Define borda branca semi-transparente. */
    position: relative;
    /* Fixa o elemento ao rolar a página. */
    top: 0;
    /* Coloca o elemento no topo. */
    border-radius: 30px;
    /* Arredonda os cantos. */
    height: 60px;
    /* Define altura fixa. */
    margin: 20px auto;
    /* Margem vertical de 20px e centraliza horizontalmente. */
    padding: 0 10px;
    /* Espaço interno de 20px nas laterais. */
    max-width: auto;
    width: 800px;
    overflow: hidden;

}

/* Estilos do menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    list-style: none;
    position: fixed;
    max-width: 100%;
    box-sizing: border-box;
}

/* Links do menu */
.menu a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s;
}

.menu a:hover {
    color: #065a30;
    /* Muda a cor do texto ao passar o mouse. */
}
body{
    color: white;
}

.background {
    background-image: url('./fundo.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* Mantém o fundo fixo */
    background-repeat: no-repeat;
    position: fixed; /* Fixa o fundo em relação à tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca o fundo atrás dos outros elementos */
}

h1 {
    margin-top: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#projects {
    display: flex;
    flex-wrap: wrap;  /* Permite que os painéis se ajustem conforme o tamanho da tela */
    justify-content: center;
    gap: 30px;  /* Aumenta a distância entre os painéis */
}



.panel {
    position: relative;
    border-radius: 10px;
    margin-top: 80px;
    width: 300px;
    height: 150px;
    cursor: pointer;
    z-index: 3;
    border: none;
    overflow: hidden;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    display: block; /* Faz com que cada painel ocupe uma linha */
    text-align: center; /* Centraliza os conteúdos dentro do painel */
}

.panel:hover {
    transform: scale(1.5); /* Aumenta o painel */
    width: 400px;
    height: 300px;
    box-shadow: 0px 0px 30px rgb(17, 17, 17);
}


.panel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*{
    justify-items: center;
}

/* Seção de detalhes dos projetos */
#project-details {
    display: grid;               /* Usando CSS Grid */
    gap: 20px;
    margin-top: 500px;
    text-align: center;
    justify-content: center;
    max-width: 800px;
}

#project-details h1 {
    margin-top: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.project-image {
    width: 500px;
    height: 350px;
    border-radius: 15px;
}
p{
    font-size: 20px;
}


.scroll-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: bounce 2s infinite;
    z-index: 10; /* Certifique-se de que ela fique acima do conteúdo */
}

.scroll-arrow svg {
    width: 300px;
    height: 100px;
    stroke: rgb(167, 95, 182); /* Cor da seta */
    transition: stroke 0.3s ease;
}

.scroll-arrow:hover svg {
    stroke: #743141; /* Cor ao passar o mouse */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate(-50%, 0);
    }
    40% {
        transform: translate(-50%, -10px);
    }
    60% {
        transform: translate(-50%, -5px);
    }
}

fieldset{
    border-radius: 25px;
    backdrop-filter: blur(20px);
    border: 3px;
    border-color: rgb(20, 1, 20);
    text-align: center;
    
}

fieldset:hover{
    box-shadow: 0px 0px 30px rgb(17, 17, 17);
}
legend{
    margin-top: 80px;
    font-size: 1.5rem;
    text-align: center;
}

.first-block{
    size: 100vh;
    font-size: 20px;

}
.second-block{
    justify-content: center;
    size: 300vh;
}

footer {

    position: fixed;
    /* Fixa o footer na parte inferior da página */
    bottom: 0;
    /* Posiciona o footer na parte inferior */
    right: 0;
    /* Alinha o footer à direita */
    background-color: none;
    /* Cor de fundo do footer */
    color: #a19898c5;
    /* Cor do texto */
    padding: 10px 20px;
    /* Espaçamento interno do footer */
    text-align: right;
    /* Alinha o texto à direita */
    width: 100%;
    /* Define a largura do footer */


}